<div class='video-card-thumb thumb' data-gradient='{{gradientIndex}}'></div>
<div>
  <h3 class='video-card-title'>{{title}}</h3>
  <p class='video-card-publisher'>{{publisher}}</p>
  <div class='video-card-meta'>
    <span>{{views}}k views</span>
    <span class='video-card-meta-separator' aria-hidden='true'>•</span>
    <span>{{daysAgo}} days ago</span>
  </div>
</div>